.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: var(--spacing-xl);
}

.separator {
  width: 100%;
  height: 1px;
  background-color: var(--color-textSecondary);
  opacity: 0.2;
  margin: 0;
}

@media (max-width: 768px) {
  .container {
    gap: 0;
  }
}

